<div style="display: flex; justify-content: center; font-family: Inter, sans-serif; padding-top: 50px; padding-bottom: 50px;">
  <div style="width: 90%; margin: 0 auto; border-radius: 10px; padding: 25px;">
    <div style="margin-bottom: 16px;">
      <div style="display: inline-block; font-size: 20px; line-height: 20px; padding-bottom: 1px; color: black; font-weight: 500;">
        Nemory
      </div>
    </div>
    <h1 style="font-size: 32px; font-weight: 600; color: black; margin-bottom: 10px;">Support message from {{name}}</h1>
    <div style="font-weight: 600">
      Category: <span style="font-weight: 400; color: #000000;">{{category}}</span>
    </div>
    <div style="font-weight: 600">
      User uuid: <span style="font-weight: 400; color: #000000;">{{uuid}}</span>
    </div>
    <div style="font-weight: 600">
      User email: <span style="font-weight: 400; color: #000000;">{{userEmail}}</span>
    </div>
    <div style="font-weight: 600">
      Received from email: <span style="font-weight: 400; color: #000000;">{{email}}</span>
    </div>
    <div style="font-weight: 600">
      Title: <span style="font-weight: 400; color: #000000;">{{title}}</span>
    </div>
    <div style="font-weight: 600">
      Text: <span style="font-weight: 400; color: #000000;">{{text}}</span>
    </div>

    <div style="font-size: 14px; color: #AAAAAA; margin-bottom: 0;">
      <p>Copyright © 2025 Nemory. All rights reserved</p>
    </div>
  </div>
</div>

